/*tipo de fuente y margen
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*Imagen de fondo y agrandar la imagen para que quede una sola*/
    background: url(img/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

/*  Estilos del formulario*/
.formulario{
    background: #fff;
    width: 250px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 150px;
}

/* centrar titulo Registrarse, color */
h1{
    text-align: center;
    color: #0863f7;
    font-size: 40px;
}

/* Estilo para todos los input del formulario */
input, textarea{
    font-size: 17px;
    width: 92%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.input-contenedor{
    margin-bottom: 10px;
    border: 1px solid #aaa;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

/*Alineacion, ancho minimo y color de los iconos*/
.icon{
    min-width: 30px;
    text-align: center;
    color: #999
}

.tipo_inmueble{
    width: 500px;
}

.btnprint {
    border: none;
    width: 30%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.obligatorio{
    color: red;
}

footer {
    background: #031d3bfd;
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 1.6em auto;
    gap: 1px;
    /*Espaciado entre header y el contenedor de la tabla*/
    padding: 20px;
    border: 1px solid #000;
}

.footer {
    text-align: center;
}

.btnprint:hover {
    background: rgb(5, 55, 88);
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 600px;
        margin-top: 15px;
        border-radius: 2%;
    }
}







